.nav-wrapper {
    /* background-color: rgb(255,255,255,0.2); */
    color:black;
    width: 100%;
    margin:0 auto;
    box-shadow:0px 0px 4px 1px black;
    position:fixed;
    z-index:10;
}

.navbar {
    display: flex;
    justify-content: space-between;
    background-color: #fff;
}

.nav-wrapper.active {
    background-color: rgb(219, 77, 77,0.5);
    color:white;
}

.nav-logo {
    padding:20px 0 20px 40px;
    display: flex;
}

.nav-logo__link {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color:black;
    font-size:28px;
}

.nav-logo__icon {
    padding-left:6px;
    font-size:30px;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    padding-right: 40px;
}

.nav-mobile-menu__icon {
    display: none;
}

@media (max-width:880px) {
    .nav-menu {
        display: none;
    }
    .nav-mobile-menu__icon {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 10px;
        font-size:32px;
        cursor:pointer;
    }
}

.nav-menu__link {
    padding:20px;
    cursor: pointer;
    transition: all 0.2s;
    color:black;
    text-decoration: none;
    font-size:24px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-menu__link:hover {
    background-color: rgba(236, 78, 67, 0.7);
}

.nav-wrapper.active .nav-menu__link {
    color:white;
}

.nav-wrapper.active .nav-menu__link:hover {
    background-color: rgba(0, 0, 0, 0.7);
}