.App {
    /* background: url('./images/bg-pizza.jpg'); */
    background: url('https://s2.best-wallpaper.net/wallpaper/3840x2160/1906/Kitchen-table-chairs-lights_3840x2160.jpg');
    /* background-color:rgba(233, 133, 33); */
    background-position:center;
    background-size: cover;
    background-blend-mode: multiply;
    min-height: 100vh;
    max-width:1440px;
    margin: 0 auto;
}

.app-wrapper {
    background:linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2));
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}