.App {
    /* background: url('./images/bg-pizza.jpg'); */
    background: url('https://s2.best-wallpaper.net/wallpaper/3840x2160/1906/Kitchen-table-chairs-lights_3840x2160.jpg');
    background:white;

    background-position:center;
    background-size: cover;
    background-blend-mode: multiply;
    min-height: 100vh;
    margin: 0 auto;
}

.app-wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}